$pcolor01:#ff4e00;
$pcolor02:#2e3438;
$pcolor03:#525566;
$pcolor04:#838798;
$pcolor05:#b8bbcc;

$dcolor01:#697dcd;
$dcolor02:#747680;
$dcolor03:#fff;

$hcolor01:#ff0000;
$hcolor02:#00b200;
$hcolor03:#ffede5;

$scolor01:#a1a4b3;
$scolor02:#b8bbcc;
$scolor03:#e6e7f2;
$scolor04:#f4f4f4;
$scolor05:#f2f4fb;

$ecolor01:#53cecd;

$color_suny_red: #D60036;
$color_suny_blue: #4B68C5;
$color_warm_red: #EA7F9A;
$color_dark_gray: #494949;
$color_warm_gray: #75746f;
$color_smoke_gray: #DDDDDB;